.header {
  width:97.5%;
	height:150px;
	margin:auto;
	background-image: url('background.jpg');
	background-position:center;
}
.left {
  float: left;
  padding:10px 20px 0px 10px;
}
.right {
  float: center;
    padding:10px 20px 0px 10px;
}
