<div class="component-div">
	<h2>MAP</h2>
		<div class="dropdown-div"><p> 
      <img src="https://imgur.com/r1inWDb" />
      <img [src]="club.mapImage" />
      <h2></h2>

      	<button class ="button">
					<p style="float:left;vertical-align: middle;"><a href="http://map.cwu.edu/" target="_blank">Interactive Map</a> </p>
					<img src="newTab.png" style="width:20px; height:20px; margin-top:5%;"/>
				</button>

				<button class ="button">
				  <p style="float:left; vertical-align: middle;">Print Directions </p>							
          <img src="printer.png" style="width:20px; height: 20px; margin-top:5%;"/>
				</button>
    </div>
</div>